<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{%block title%}{%endblock%}</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>
<style>
        #sidebar{
        position:fixed;
        height: 100%;
        left: 0;
        background:#2E313D;
        top: 50px;
        width:200px;
        overflow-y: auto;
    }
    #navigation-menu{
        width: 100%;
        list-style-type: none;
    }
    .navbar-item:hover{
        background: none!important;
    }
    .nav-button{
        background: transparent;
        border: none!important;
    }   
    {%block styles%}
    {%endblock%}
</style>
<body>

<nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 0;background-color:#337BB8;">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>
        <a class="navbar-brand" href="#" style="color:white;">Git Managed</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><img src="{{user.gravatar_url}}" width='40px' height='40px' style="margin-top:5px; margin-bottom:5px;" class="img-circle" alt=""/></li>
        <li class="dropdown">
          <a href="#" style="color:white;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user.first_name}}<span class="caret"></span></a>
          <ul class="dropdown-menu" style="color:#337BB8" role="menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Info</a></li>
          </ul>
        </li>
        <li><a href="/login" style="color:white;">Sign In</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<aside id="sidebar" style="z-index:9999;">
   <div class="sidebar-left">
   <h6 style="color:#777; margin-left: 0.5em;">MENU</h6>
       <ul class="nav nav-pills nav-stacked">

            <li role="presentation">
                <button class="nav-button" data-toggle="collapse" data-target="#overview">
                    <a class="navbar-item" href="/tasks" style="color:white;margin-left:1em;">
                        <span class="glyphicon glyphicon-folder-open" style="margin-right: 10px;"></span>View Tasks</a>
                </button>
           </li>

           <!-- expanding/collapsing Project Overview -->
            <li role="presentation">
                <button class="nav-button" data-toggle="collapse" data-target="#overview">
                    <a class="navbar-item" href="#" style="color:white;margin-left:1em;">
                        <span class="glyphicon glyphicon-picture" style="margin-right:10px;"></span>Project Overview</a>
                </button>
           </li>

           <!-- sublist items -->
           <div id="overview" class="collapse">
            <ul class="nav nav-pills nav-stacked" style="margin-left:1.5em">
               <li role="presentation"><a class="navbar-item" href="#" style="color:white;"> <span class="glyphicon glyphicon-folder-open" style="margin-right:10px;"></span>Requirements</a></li>
           </ul>
            <ul class="nav nav-pills nav-stacked" style="margin-left:1.5em">
               <li role="presentation"><a class="navbar-item" href="#" style="color:white;"> <span class="glyphicon glyphicon-folder-open" style="margin-right:10px;"></span>Details</a></li>
           </ul>
           </div>



            <!-- expanding/collapsing Team -->
            <li role="presentation">
                <button class="nav-button" data-toggle="collapse" data-target="#team">
                    <a class="navbar-item" href="#" style="color:white;margin-left:1em;">
                        <span class="glyphicon glyphicon-user" style="margin-right:10px;"></span>Team Members</a>
                </button>
           </li>

           <!-- sublist items -->
           <div id="team" class="collapse">
                <ul class="nav nav-pills nav-stacked" style="margin-left:1.5em">
                   <li role="presentation"><a class="navbar-item" href="#" style="color:white;">
                       <span class="glyphicon glyphicon-king" style="margin-right:10px;"></span>Ryn</a>
                    </li>
               </ul>
                <ul class="nav nav-pills nav-stacked" style="margin-left:1.5em">
                   <li role="presentation"><a class="navbar-item" href="#" style="color:white;">
                       <span class="glyphicon glyphicon-thumbs-down" style="margin-right:10px;"></span>Dick</a>
                    </li>
               </ul>
                <ul class="nav nav-pills nav-stacked" style="margin-left:1.5em">
                   <li role="presentation"><a class="navbar-item" href="#" style="color:white;">
                       <span class="glyphicon glyphicon-sunglasses" style="margin-right:10px;"></span>Chirs</a>
                    </li>
               </ul>
                <ul class="nav nav-pills nav-stacked" style="margin-left:1.5em">
                   <li role="presentation"><a class="navbar-item" href="#" style="color:white;">
                       <span class="glyphicon glyphicon-baby-formula" style="margin-right:10px;"></span>Torrè</a>
                    </li>
               </ul>
               <ul class="nav nav-pills nav-stacked" style="margin-left:1.5em">
                   <li role="presentation"><a class="navbar-item" href="#" style="color:white;">
                       <span class="glyphicon glyphicon-glass" style="margin-right:10px;"></span>doolAy</a>
                    </li>
               </ul>
           </div>

       <h6 style="color:#777;margin-left: 0.5em;">PROJECTS</h6>
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" ><a href="/project" class="navbar-item" style="color:white;">All Projects</a></li>
            </ul>
       <h6 style="color:#777;margin-left: 0.5em;">TOOLS</h6>
       <ul class="nav nav-pills nav-stacked">
           <li role="presentation">
               <button class="nav-button" data-toggle="collapse" data-target="#">
                   <a class="navbar-item" href="#" style="color:white;margin-left:1em;">
                       <span class="glyphicon glyphicon-folder-open" style="margin-right:10px;"></span> Reports</a>
               </button>
           </li>
       </ul>
   </ul>
   </div>
</aside>

<div class="container">
    {% block content %}

    {%endblock%}
</div>


<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
<script>

    $(document).ready(function(){
        //$('body').css("background", "white");
        $('#breadcrumbs').css({marginLeft: $('#sidebar').width() + 10});
        $.get('/login');
        $(window).resize(function(){
            $('#breadcrumbs').css({marginLeft: $('#sidebar').width() + 10});

        })
        {%block JS%}

        {%endblock%}
    })

</script>

</body>
</html>