{% extends "base.html" %}
{%block title%}Testing Title{%endblock%}
{%block styles%}

{%endblock%}
{%block content%}
<div class="row">
    <div class="col-xs-4">
            <h4>Reporting Tools</h4>
    <a href="/report?project=&user={{user.key.urlsafe()}}&number=">Reports</a>
    </div>

</div>
<div class="row">
    <h4 class="text-center">ISSUES</h4>
    <div class="col-xs-offset-3 col-xs-4">
        {% for issue in issues %}
            <div>
            {{ issue.title }} {{ issue.body }} Createdby:{{ issue.user.login }}
            </div>
            <br>
        {% endfor %}
    </div>
</div>
<div class="row">
    <h4 class="text-center">Commits</h4>
    <div class="col-xs-offset-3 col-xs-4">
        {% for commit in commits %}
            <div>
            {{ commit.get('commit').get('message') }}
            </div>
            <br>
        {% endfor %}
    </div>
</div>
{%endblock%}
{%block JS%}

{%endblock%}