{% extends "base.html" %}
{%block title%}Testing Title{%endblock%}
{%block styles%}

{%endblock%}
{%block content%}
<!--<div class="col-xs-4">-->
<div class="panel panel-default col-xs-5" style="padding: 0 !important; min-height: 450px; margin-left: 50px; margin-right: 25px; ">
    <div class="panel-heading" style="background-color:#337BB8;">
        <h4 class="text-center" style="color: white">ISSUES</h4>
    </div>
    <!--<div class="col-xs-offset-3 col-xs-4">-->
        {% for issue in issues %}
            <ul class="list-group">
                <li class="list-group-item">{{ issue.title }}</br>{{ issue.body }} </br> Createdby:{{ issue.user.login }}</li>
            </ul>
        {% endfor %}
    <!--</div>-->
<!--<div class="row">-->
<!--<div class="row">-->
</div>
<div class="panel panel-default col-xs-5" style="padding: 0 !important; min-height: 450px; margin-left: 50px; margin-right: 25px">
    <div class="panel-heading" style="background-color:#337BB8;">
        <h4 class="text-center" style="color: white">COMMITS</h4>
    </div>
    <!--<div class="col-xs-offset-3 col-xs-4">-->
        {% for commit in commits %}
            <ul class="list-group">
                <li class="list-group-item">{{ commit.get('commit').get('message') }}</li>
            </ul>
        {% endfor %}
    </div>
</div>
<!--</div>-->
<!--<div class="row">-->
{%endblock%}
{%block JS%}

{%endblock%}