{% extends "base.html" %}
{%block title%}{{project}} - Issues{%endblock%}
{%block styles%}

{%endblock%}
{%block content%}
<div class="row">
    <h3 class="text-center">{{project}} Issues</h3>
     <button type="button" class="btn btn-success btn-sm center-block"  style="border-radius:20px;"  onclick="window.open('https://github.com/{{user.user_id}}/{{project}}/issues/new','_blank' )">
            Add New Issue
    </button>
    <hr/>
    <div class="col-xs-8 col-xs-offset-2">
        <div class="table-responsive">
            <table class="table-striped table">
                <thead>
                    <tr>
                        <td>
                            User
                        </td>
                        <td>
                            Title
                        </td>
                        <td>
                            Description
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <!--<td>-->

                        <!--</td>-->
                    </tr>
                </thead>
                <tbody>
                    {%for issue in open_issues%}
                        <tr>
                            <td>
                                {{issue.user.login}}
                            </td>
                            <td>
                                {{issue.title}}
                            </td>
                            <td>
                                {{issue.body}}
                            </td>
                            <td>
                                <button class="btn-info btn btn-sm"  onclick="window.open('{{issue.html_url}}','_blank' )">Edit</button>
                            </td>
                            <td>
                                <button class="btn-primary btn btn-sm">Make Requirement</button>
                            </td>
                            <!--<td>-->
                                <!--<button class="btn-danger btn btn-sm closeOpenIssue" data-issue="{{issue.number}}" data-title="{{issue.title}}" data-body="{{issue.body}}" data-milestone="{{issue.milestone}}" data-assignee="{{issue.assignee}}">Close Issue</button>-->
                            <!--</td>-->
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock%}
{%block JS%}

    $('.closeOpenIssue').click(function(){
        $this = $(this);
        $.post("/CloseIssue", {project: "{{project}}", issue_id:$this.attr('data-issue'), issue_title: $this.attr('data-title'), issue_body: $this.attr('data-body'), issue_assignee: $this.attr('data-assignee'), issue_milestone: $this.attr('data-milestone')}).done(function(msg) {
         console.log(msg);
        });


})

{%endblock%}