{% extends "base.html" %}
{%block title%}Loaded Projects{%endblock%}
{%block styles%}
{%endblock%}
{%block content%}
<div class="row" style="margin-top:50px;">
    <h3 class="text-center">Loaded Projects</h3>
    <hr/>
    <div class="col-xs-8 col-xs-offset-2">
        {%for projects in project%}
            <div class="col-xs-4">
                <a class="btn-success btn project_submit" data-project-desc="{{projects.project_description}}"  data-project-name="{{projects.project_title}}"  data-project-id="{{projects.project_id}}" style="margin-top: 10px; width: 100%;" href="/project/{{projects.project_id}}">
                    {{projects.project_title}}
                </a>
            </div>
        {%endfor %}
    </div>
</div>

{%endblock%}
{%block JS%}
{%endblock%}