{% extends "base.html" %}
{%block title%}Loaded Projects{%endblock%}
{%block styles%}
{%endblock%}
{%block content%}
<div class="row" style="margin-top:10px;">
    <div class="col-xs-8 col-xs-offset-2">
        {%for projects in project%}
            <div class="col-xs-4">
                <a class="btn-primary btn project_submit" data-project-desc="{{projects.description}}"  data-project-name="{{projects.name}}"  data-project-id="{{projects.id}}" style="margin-top: 10px; width: 100%;" href="#">
                    {{projects.name}}
                </a>
            </div>
        {%endfor %}
    </div>
</div>

{%endblock%}
{%block JS%}
    $('.project_submit').click(function () {
        var $this = $(this);
        $.post('/project', {
            id: parseInt($(this).attr('data-project-id')),
            name: $(this).attr('data-project-name'),
            desc: $(this).attr('data-project-desc')
        })
            .success(function () {
            $this.attr('disabled', true);
            console.log("disabled");
            $('.project-success').fadeIn(1500).fadeOut(4000);
        })
    })
{%endblock%}