{% extends "base.html" %}
{%block title%}Testing Title{%endblock%}
{%block styles%}

{%endblock%}

{%block content%}

<div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
        <h3>Project Requirements</h3>
    </div>
</div> 

<div class="row" style="margin-top:10px;">
    <div class="col-xs-8 col-xs-offset-2">
    <h3>Techincal Requirements</h3>
    	<ul>
    		<li>Use of Google App Engine</li>
    		<li>Use of Authentication</li>
    		<li>Use of Templates</li>
    		<li>Use of Database Models</li>
    		<li>Capturing data in the datastore</li>
    		<li>Use of Git or Mercurial</li>
    	</ul>
   	<h3>Creative Objectives</h3>
   		<ul>
    		<li>Compelling and Attractive Design</li>
    		<li>Informative and Practical</li>
    		<li>Follows common/nes practices in web site design</li>
    	</ul>
 	</div>
</div>

{%endblock}