{% extends "base.html" %}
{%block title%}{{project_data.project_name}}{%endblock%}
{%block styles%}
{%endblock%}
{%block content%}
<div class="row">
    <div class="col-xs-4 col-xs-offset-4 text-center">
        <h2>{{project_data.project_title}}</h2>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" style="border-radius:20px;">
            README
        </button>
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" style="border-radius:20px;">
            {{open_issue}} Open Issues
        </button>
        <hr/>
        <h4>Language Statistics</h4>
        <div class="progress" style="margin-bottom:0;">
            {%for language in languages%}
                {%if loop.index % 2 == 0%}
                    <div class="progress-bar progress-bar-success" data-toggle="tooltip" data-placement="bottom" title="{{language}} {{(languages[language] / total) * 100}}%" style="width:{{(languages[language] / total) * 100}}%"></div>
                {%else%}
                    <div class="progress-bar progress-bar-warning" data-toggle="tooltip" data-placement="bottom" title="{{language}} {{(languages[language] / total) * 100}}%" style="width:{{(languages[language] / total) * 100}}%"></div>

                {%endif%}

            {%endfor%}
        </div>
        <h6 style="font-weight:bold;">{{total}} total lines of code</h6>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <h4 class="text-center">Recent Commits</h4>
        <div class="table-responsive text-center">
            <table class="table-striped">
                <thead style="font-weight:bold;">
                    <tr>
                        <td>SHA</td>
                        <td>User</td>
                        <td>Description</td>
                        <td>Date</td>
                    </tr>
                </thead>
                <tbody>
                {%for committed in commits%}
                    {% if loop.index > 5%}
                        {%break%}
                    {%endif%}
                    <tr>
                        <td><a href="{{committed.html_url}}">{{committed.sha[:7]}}</a></td>
                        <td>{{committed.author.login}}</td>
                        <td>{{committed.commit.message}}</td>
                        <td>{{committed.commit.author.date}}</td>
                    </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- Modal for README document -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        {{readme}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{%endblock%}
{%block JS%}
 $('[data-toggle="tooltip"]').tooltip()
{%endblock%}