{% extends "base.html" %}
{%block title%}Reporting Tool{%endblock%}
{%block styles%}

{%endblock%}
{%block content%}
<div class="row" style="margin-top:20px;">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Type of Change</th>
                        <th>Changes</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {%for data in report%}
                        <tr>
                            <td>{{data.username}}</td>
                            <td>{{data.event}}</td>
                            <td>{{data.description}}</td>
                            <td>{{data.timestamp}}</td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>

    </div>
</div>
{%endblock%}
{%block JS%}
<script src="/js/report.js"></script>
{%endblock%}