{% extends "base.html" %}
{%block title%}Testing Title{%endblock%}
{%block styles%}

{%endblock%}
{%block content%}
<div class="row">
    <div class="col-xs-12">
        <h2 class="text-center">Requirements</h2>
    </div>
    <div class="col-xs-12 text-center">
        <button class="btn-success btn" data-toggle="modal" data-target="#addRequirement"><span class="glyphicon-plus glyphicon"></span></button>
         <hr/>
    </div>


    {%for requirement in requirements%}

        <div class="col-xs-4 text-center">
            <span class="glyphicon-pencil glyphicon non-edit"  onclick="editMode(this)" style="position:absolute; top: 0; right: -10px; cursor:pointer;"></span>
            <span class="glyphicon-trash glyphicon edit-requirement" data-id="{{requirement.key.urlsafe()}}" data-url-target="{{project_id}}" onclick="removeRequirement(this)" style="position:absolute; top: 0; right: -10px; cursor:pointer; display:none;"></span>
            <input  type="text" name="title" class="form-control edit-requirement" style="display:none;" value="{{requirement.req_title}}"/>
            <textarea oninput='changeText(this)'  name="description" class="form-control edit-requirement" cols="30" rows="10" style="margin-top:10px;display:none;" value="{{requirement.req_desc}}">{{requirement.req_desc}}</textarea>
            <button type="button" class="btn-primary btn edit-requirement" data-parent="{{requirement.parent_id}}" data-url-target="{{project_id}}" data-id="{{requirement.key.urlsafe()}}"  onclick="updateRequirement(this)" style="margin-top:10px;display:none;">Update</button>
            <button type="button" class="btn-default btn edit-requirement" onclick="editMode(this)" style="margin-top:10px;display:none;">Cancel</button>
            <h3 class="non-edit title">{{requirement.req_title}}</h3>
            <h4 class="non-edit desc">{{requirement.req_desc}}</h4>
            <a class="btn-primary btn" href="/tasks/{{requirement.key.urlsafe()}}">Associated Tasks</a>
        </div>
    {%endfor%}
</div>



<!--Add Requirement Modal -->
<div class="modal fade" id="addRequirement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Requirement</h4>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-xs-6 col-xs-offset-3">
                <select class="form-control" name="parent" id="">
                    <option value="None" selected>Parent Requirement</option>
                    {%for requirement in requirements%}
                    <option value="{{requirement.key.urlsafe()}}" >{{requirement.req_title}}</option>
                    {%endfor%}
                </select>
                <input class="form-control" style="margin-top:10px;" type="text" placeholder="Title"/>
                <textarea oninput='changeText(this)' class="form-control" style="margin-top:10px;" name="descr" placeholder="Description" cols="30" rows="10"></textarea>
                  <button style="margin-top:10px;" class="btn-success btn col-xs-12" type="button" data-url-target="{{project_id}}" data-id="{{project_id}}" onclick="addRequirement(this)">Add</button>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
{%block JS%}
<script src="/js/requirements.js"></script>
{%endblock%}