{% extends "base.html" %}
{%block title%}Testing Title{%endblock%}
{%block styles%}

{%endblock%}
{%block content%}
<div class="row" style="margin-top:30px;">
    <div class="col-xs-12">
        <a href="/requirements/{{project_data.project_id}}" class="btn-danger btn pull-left"><span class="glyphicon-arrow-left glyphicon"></span> Back to Requirement</a>
    </div>
</div>
<div class="row" style="margin-top:30px;">

        {%for task in tasks%}
    <div class="col-xs-4">
            <div class="panel panel-default non-edit">
                <div class="panel-heading text-center">
                    <span class="glyphicon-pencil glyphicon" onclick="editMode(this);" style="position: absolute; top: 5px; right:20px;"></span>
                    <h3>{{task.task_title}}</h3>
                </div>
                <div class="panel-body">
                    <h4>{{task.task_desc}}</h4>
                    <h5>Assigned to: <span class="user-assigned">{{task.user}}</span></h5>
                </div>
            </div>
        <div class="edit-mode" style="display:none;">
            <select name="assigneed" id="assigneeUpdate" class="form-control" style="margin-top:10px;">
                <option class="assignee-value" value="{{task.assignee.urlsafe()}}" >{{task.user}}</option>
                {%for user in users%}

                    {%if user.username != task.user%}
                    <option class="assignee-value" value="{{user.user_id.urlsafe()}}">{{user.username}}</option>
                    {%endif%}

                {%endfor%}
            </select>
            <select class="form-control" name="" id="statusUpdate" style="margin-top:10px;">
                <option value="True">Open</option>
                <option value="False">Closed</option>
            </select>
            <input class="form-control" type="text" value="{{task.task_title}}" style="margin-top:10px;"/>
            <textarea oninput='changeText(this)' class="form-control" name="desc" id="" cols="30" rows="10" style="margin-top:10px;">{{task.task_desc}}</textarea>

            <button class="btn-success btn" style="margin-top:10px;" data-requirement="{{requirement.key.urlsafe()}}" data-task-key="{{task.key.urlsafe()}}" onclick="updateTask(this)">Update</button>
            <button class="btn-danger btn" style="margin-top:10px;">Delete</button>
            <button class="btn-default btn" style="margin-top:10px;" onclick="editMode(this)">Cancel</button>

        </div>

    </div>
        {%endfor%}
</div>
{%endblock%}
{%block JS%}
<script src="/js/tasks.js"></script>
{%endblock%}