{% extends "base.html" %}
{%block title%}Testing Title{%endblock%}
{%block styles%}

{%endblock%}
{%block content%}
<div class="row" style="margin-top:30px;">
    <div class="col-xs-12">
        <a href="/requirements/{{project_data.project_id}}" class="btn-danger btn pull-left"><span class="glyphicon-arrow-left glyphicon"></span> Back to Requirement</a>
    </div>
</div>
<div class="row" style="margin-top:30px;">

        {%for task in tasks%}
    <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>{{task.task_title}}</h3>
                </div>
                <div class="panel-body">
                    <h4>{{task.task_desc}}</h4>
                    <h5>Assigned to: {{task.user}}</h5>
                </div>
            </div>
    </div>
        {%endfor%}
</div>
{%endblock%}
{%block JS%}
<script src="/js/tasks.js"></script>
{%endblock%}